.box-icon {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.box-api {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
}

box-color {
  background-color: rgb(255, 197, 126);
}
